* {
  box-sizing: border-box;
  background-color: var(--dark_blue);
}

body {
  margin: 0;
  overflow-y: scroll;
}

/* CUSTOM SCROLLBAR */
  ::-webkit-scrollbar {
  width: 13px;
  background-color: var(--dark_blue);
}

::-webkit-scrollbar-thumb {
  background: var(--white);
}

/* //////////////////////////////////// */

:root { 
 /* Possible theme colors */ 
 --dark_blue: #141925;
 --white: #E2E8F0;
 --grayish: #94A3B9;
}

/* ///////////////////////////////////////////////////////////////////////////////////////// */

/* ▒█▀▀█ ░░ ▒█▀▀▄ ▀█▀ ▒█░░▒█ ▀█▀ ▒█▀▀▀█ ▀█▀ ▒█▀▀▀█ ▒█▄░▒█ */
/* ▒█▀▀▄ ▀▀ ▒█░▒█ ▒█░ ░▒█▒█░ ▒█░ ░▀▀▀▄▄ ▒█░ ▒█░░▒█ ▒█▒█▒█ */
/* ▒█▄▄█ ░░ ▒█▄▄▀ ▄█▄ ░░▀▄▀░ ▄█▄ ▒█▄▄▄█ ▄█▄ ▒█▄▄▄█ ▒█░░▀█ */

/* //////////////////////////////////////////////////////////////////////////////////////// */
.bPage--style {
  color: var(--white);
  margin-top: 7.5%;
  display: flex;
}

/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Navbar section */

.bPage--left {
  margin-left: 7.5%;

  .bpl--who {
    font-size: 52px;
    font-weight: bold;
    margin-top: 0;
  }

  .bpl--what {
    font-size: 22px;
    font-weight: 500;
    margin-top: -8%;
  }

  .bpl--why {
    color: var(--grayish);
    max-width: 65%;
    line-height: 1.5;
    font-size: 17px;
  }

  .bpl--nav {
    margin-top: 10%;
    margin-left: 4%;
    font-size: 13px;
    font-weight: bold;
    line-height: 2.25;
    letter-spacing: 1.5px;
  }

  .bpl--images {
    display: flex;
    padding-top: 2.75%;
    padding-left: 5px;

    .github--logo, .linkedin--logo, .mail--logo {
      width: 24px;
      margin-right: 20px;
      position: relative; /* Ensure relative positioning for the logo container */
    }
    
    .github--logo img, .linkedin--logo img, .mail--logo img {
      position: absolute;
      top: 0;
      left: 0;
      transition: opacity 0.3s ease; /* Smooth transition for opacity */
    }
    
    .github--logo:hover .github--filtered,
    .linkedin--logo:hover .linkedin--filtered,
    .mail--logo:hover .mail--filtered {
      opacity: 0; /* Hide the filtered image on hover */
    }
    
    .github--logo:not(:hover) .github--normal,
    .linkedin--logo:not(:hover) .linkedin--normal,
    .mail--logo:not(:hover) .mail--normal {
      opacity: 0; /* Hide the normal image when not hovered */
    }
  }
}

/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Page section */

.bPage--right {
  margin-right: 7.5%;
  color: var(--white);
}


/* ////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ▒█▀▀█ ▒█▀▀█ ░░ ▒█▀▀▄ ▀█▀ ▒█░░▒█ ▀█▀ ▒█▀▀▀█ ▀█▀ ▒█▀▀▀█ ▒█▄░▒█ */
/* ▒█▀▀▄ ▒█▀▀▄ ▀▀ ▒█░▒█ ▒█░ ░▒█▒█░ ▒█░ ░▀▀▀▄▄ ▒█░ ▒█░░▒█ ▒█▒█▒█ */
/* ▒█▄▄█ ▒█▄▄█ ░░ ▒█▄▄▀ ▄█▄ ░░▀▄▀░ ▄█▄ ▒█▄▄▄█ ▄█▄ ▒█▄▄▄█ ▒█░░▀█ */

/* ////////////////////////////////////////////////////////////////////////////////////////////////// */