* {
  box-sizing: border-box;
  background-color: #001233;
}

body {
  margin: 0;
  overflow-y: scroll;
}

/* CUSTOM SCROLLBAR */
  ::-webkit-scrollbar {
  width: 13px;
  background-color: var(--white);
}

::-webkit-scrollbar-thumb {
  background: var(--white);
} */

/* //////////////////////////////////// */

:root { 
 /* Possible theme colors */ 
 --dark_blue: #001233;
 --white: #ffffff;
 --grayish: #F8F8F8
}

/* ///////////////////////////////////////////////////////////////////////////////////////// */

/* ▒█▀▀█ ░░ ▒█▀▀▄ ▀█▀ ▒█░░▒█ ▀█▀ ▒█▀▀▀█ ▀█▀ ▒█▀▀▀█ ▒█▄░▒█ */
/* ▒█▀▀▄ ▀▀ ▒█░▒█ ▒█░ ░▒█▒█░ ▒█░ ░▀▀▀▄▄ ▒█░ ▒█░░▒█ ▒█▒█▒█ */
/* ▒█▄▄█ ░░ ▒█▄▄▀ ▄█▄ ░░▀▄▀░ ▄█▄ ▒█▄▄▄█ ▄█▄ ▒█▄▄▄█ ▒█░░▀█ */

/* //////////////////////////////////////////////////////////////////////////////////////// */


/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Navbar section */
.bPage--style {
  color: #EEF0F1;
  margin-top: 7.5%;
}

.bPage--left {
  margin-left: 7.5%;

  .bph--who {
    font-size: 52px;
    font-weight: bold;
  }

  .bph--what {
    font-size: 22px;
    margin-top: -4%;
  }

  .bph--why {
    color: #BBC1C2;
    max-width: 30%;
    line-height: 1.5;
    font-size: 17px;
  }

  .bph--nav {
    margin-top: 5%;
    margin-left: 4%;
    font-size: 12px;
    line-height: 2.25;
    letter-spacing: 1.5px;
  }

  .bph--images {
    display: flex;
    padding-top: 2.75%;
    padding-left: 5px;

    .github--logo, .linkedin--logo, .mail--logo {
      width: 24px;
      margin-right: 20px;
      position: relative; /* Ensure relative positioning for the logo container */
    }
    
    .github--logo img, .linkedin--logo img, .mail--logo img {
      position: absolute;
      top: 0;
      left: 0;
      transition: opacity 0.3s ease; /* Smooth transition for opacity */
    }
    
    .github--logo:hover .github--filtered,
    .linkedin--logo:hover .linkedin--filtered,
    .mail--logo:hover .mail--filtered {
      opacity: 0; /* Hide the filtered image on hover */
    }
    
    .github--logo:not(:hover) .github--normal,
    .linkedin--logo:not(:hover) .linkedin--normal,
    .mail--logo:not(:hover) .mail--normal {
      opacity: 0; /* Hide the normal image when not hovered */
    }
  }
}

/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Page section */


/* ////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ▒█▀▀█ ▒█▀▀█ ░░ ▒█▀▀▄ ▀█▀ ▒█░░▒█ ▀█▀ ▒█▀▀▀█ ▀█▀ ▒█▀▀▀█ ▒█▄░▒█ */
/* ▒█▀▀▄ ▒█▀▀▄ ▀▀ ▒█░▒█ ▒█░ ░▒█▒█░ ▒█░ ░▀▀▀▄▄ ▒█░ ▒█░░▒█ ▒█▒█▒█ */
/* ▒█▄▄█ ▒█▄▄█ ░░ ▒█▄▄▀ ▄█▄ ░░▀▄▀░ ▄█▄ ▒█▄▄▄█ ▄█▄ ▒█▄▄▄█ ▒█░░▀█ */

/* ////////////////////////////////////////////////////////////////////////////////////////////////// */