* {
  box-sizing: border-box;
  background-color: #F5F5F5;
}

body {
  margin: 0;
  overflow-y: scroll;
}

/* CUSTOM SCROLLBAR */
/* ::-webkit-scrollbar {
  width: 13px;
  background-color: var(--gray);
}

::-webkit-scrollbar-thumb {
  background: var(--white);
} */

/* //////////////////////////////////// */

:root { 
 /* Navbar color */ 
 --gray: #1e1f22;
 --white: #ffffff;
 --grayish: #F8F8F8
}

/* ///////////////////////////////////////////////////////////////////////////////////////// */

/* ▒█▀▀█ ░░ ▒█▀▀▄ ▀█▀ ▒█░░▒█ ▀█▀ ▒█▀▀▀█ ▀█▀ ▒█▀▀▀█ ▒█▄░▒█ */
/* ▒█▀▀▄ ▀▀ ▒█░▒█ ▒█░ ░▒█▒█░ ▒█░ ░▀▀▀▄▄ ▒█░ ▒█░░▒█ ▒█▒█▒█ */
/* ▒█▄▄█ ░░ ▒█▄▄▀ ▄█▄ ░░▀▄▀░ ▄█▄ ▒█▄▄▄█ ▄█▄ ▒█▄▄▄█ ▒█░░▀█ */

/* //////////////////////////////////////////////////////////////////////////////////////// */


/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Navbar */
.bHeader--nav {
  background-color: var(--white);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(98, 98, 98, 0.5);
  /* - - - - - - - - - - - - - - - - - - */
  position: relative;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.bHeader--div {
  background-color: var(--white);
  font-size: 18px;
  color: var(--gray);
  /* - - - - - - - - - - - - - - - - - - */
  display: flex;
  align-items: center;
  margin-right: 35px;
}


/* ////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ▒█▀▀█ ▒█▀▀█ ░░ ▒█▀▀▄ ▀█▀ ▒█░░▒█ ▀█▀ ▒█▀▀▀█ ▀█▀ ▒█▀▀▀█ ▒█▄░▒█ */
/* ▒█▀▀▄ ▒█▀▀▄ ▀▀ ▒█░▒█ ▒█░ ░▒█▒█░ ▒█░ ░▀▀▀▄▄ ▒█░ ▒█░░▒█ ▒█▒█▒█ */
/* ▒█▄▄█ ▒█▄▄█ ░░ ▒█▄▄▀ ▄█▄ ░░▀▄▀░ ▄█▄ ▒█▄▄▄█ ▄█▄ ▒█▄▄▄█ ▒█░░▀█ */

/* ////////////////////////////////////////////////////////////////////////////////////////////////// */